body {
    background-color: bisque;
}

ul {
    padding-left: 1em;
    margin-top: 0;
}

.p {
    margin-bottom: 0;
}


.divButton {
    margin-top: 1em;
}

#input {
    margin-top: 1em;
}

.aDiv {
    margin-top: 1em;
}