doctype html
html 
    head 
        title Broken access control
        style 
            include ../../public/style.css
    body
        h1 Super secret info
        h2 Admin info that shouldn't fall into the hands of attackers.
        a(href='/') Home